@import url("reset.css"); 
@import url("common.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");

body {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #E5E5E5;
	/* background-color: seagreen; */
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1270px;
	/* 1240 + 15 +15 = 1270 */
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
/*  HEADER */
.header {
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 97px;
	padding-top: 30px;
	padding-bottom: 30px;
	gap: 10px;
}
.logo {
}
.logo__link {
	font-weight: 700;
	font-size: 18px;
	line-height: 138.888889%; /* 25/18 */
	color: #495057;
	display: inline-flex;
	align-items: flex-end;
	position: relative;
	z-index: 2;
}
.logo__link::after {
	content: ".";
	top: 0;
	left: 0;
	color: #DDBEA9;
}
/* ----HEADER-MENU---- */
.header__navigation {
	display: flex;
	align-items: center;
}
.header__menu {
	display: flex;
	align-items: center;
}
.menu {
}

/* ----Часть бургера---- */
.menu__body{

}
/*  ФИнишь части бургера */



.menu__list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 25px;
	row-gap: 3px;
}

.menu__item {
}
.menu__link {
	font-weight: 500;
	line-height: 208.333333%; /* 25/12 */
	color: rgba(73, 80, 87, 0.5);
	transition: color 0.3s;
	position: relative;
	display: inline-block;
}
.menu__link::before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 2px;
	width: 0;
	transition: width 0.3s, left 0.3s;
	border-radius: 2px;
	background-color: #DDBEA9;
}

/* .menu__item:hover .menu__link, */
.menu__link.active {
	color: #495057;
}
/* .menu__item:hover .menu__link::before, */
.menu__link.active::before {
	width: 100%;
	left: 0;
}
.menu__item_parent {
	position: relative;
	padding-right: 13px;
}
/* .menu__item_parent::after {
	content: "";
	width: 8px;
	height: 5px;
	position: absolute;
	top: 10px;
	right: 0;
	background: url(../img/icons/arrow.svg)0 0/ 100% no-repeat;
} */

/* ----SUB MENU---- */

.menu__sub-menu {
}
/* .sub-menu {
	position: absolute;
	left: 0;
	top: 120%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
	padding-top: 5px;
	pointer-events: none;
} */
/* .menu__item_parent:hover .sub-menu {
	top: 100%;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
} */
.sub-menu__list {
	background-color: #212529;
	border-radius: 5px;
	padding: 20px;
	min-width: 140px;
}
.sub-menu__item {
}
.sub-menu__item:not(:last-child){
	margin-bottom: 10px;
}
.sub-menu__link {
	font-weight: 500;
	line-height: 208.333333%; /* 25/12 */
	color: rgba(248, 249, 250, 0.6);
	transition: color 0.3s;
}
.sub-menu__link:hover{
	color: #F8F9FA;;
}
/* ----SUB MENU FINISH---- */

.header__actions {
}
.actions {
}
.actions__list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
	flex-wrap: wrap;
	

}
.actions__link {
	font-weight: 500;
	font-size: 12px;
	line-height: 208.333333%; /* 25/12 */
	color: rgba(73, 80, 87, 0.5);
	transition: color 0.3s;
}
.actions__link--active {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 40px;
	background: #DDBEA9;
	border-radius: 20px;
	font-weight: 500;
	font-size: 12px;
	line-height: 208.333333%; /* 25/12 */
	color: #F8F9FA;
}
.actions__link:hover{
	color: #495057;
}

.menu-icon {
	display: none;
}

/* ----Adaptation HEADER---- */

@media (max-width:767.98px) {
	.header__container {
		min-height: 50px;
		padding-top: 15px;
		padding-bottom: 15px;
		/* gap: 10px; */
	}
	.menu__list {
		/* justify-content: flex-start; */
	}
}
	

/* ----Start Burger Menu---- */

@media (min-width: 660px) {
	.sub-menu {
		position: absolute;
		left: 0;
		top: 120%;
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s;
		padding-top: 5px;
		pointer-events: none;
	}
}

@media (max-width:660px) {
	
	.menu__list {
		flex-direction: column;
		row-gap: 20px;
	}

	.menu__link {
		font-size: 20px;
		color: #212529;
	}
	.menu-icon {
		display: block;
		flex: 0 0 30px;
		height: 18px;
		position: relative;
	}
	.menu-icon::before,
	.menu-icon::after,
	.menu-icon span {
		content: "";
		position: absolute;
		height: 1px;
		left: 0;
		width: 100%;
		background-color: black;
	}
	.menu-icon::before{
		top: 0;
	}
	.menu-icon::after{
		bottom: 0;
	}
	.menu-icon span{
		top: 50%;
		margin-top: -0.5px;
	}
	.menu__body{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: auto;
		padding: 70px 15px 20px 15px;
	}
	.menu__body::before{
		content: "";
		height: 70px;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: white;
		z-index: 1;
	}
	.actions {
		z-index: 1;
	}
	.sub-menu__list {
		padding: 10px 0px 0px 0px;
		min-width: 0;
		background-color:white;
	}
	.sub-menu__link {
		font-size: 16px;
		color: #6C757D;
	}
}

@media (any-hover: hover) {
	.menu__item:hover .menu__link {
		color: #495057;
	}
	.menu__item:hover .menu__link::before {
		width: 100%;
		left: 0;
	}
	.menu__item_parent:hover .sub-menu {
		top: 100%;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
}



/* ----Adaptation HEADER FINISH---- */

/*  ----MAIN---- */
.page__container {
}
.hero {
	position: relative;
	min-height: 500px;
}
.hero__block {
	position: relative;
	z-index: 2;
}
.hero__author {
}
.hero__title {
}
.hero__bgd {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}


/* ----Topics---- */
.page__topics {
}
.topics {
	padding-bottom: 100px;
}
.topics__container {
}
.topics__body {
	max-width: 1028px;
	margin: 0 auto;
	display: flex;
}
.topics__left-side {
	flex: 0 0 38.910506%; /* 400/1028 */ 
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
}
.topics__title {
}
.title {
}
.topics__menu {
}
.menu-topics {
}
.menu-topics__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.menu-topics__item {
}
.menu-topics__link {
	display: inline-block;
	font-weight: 500;
	font-size: 12px;
	line-height: 208.333333%; /* 25/12 */
	color: #495057;
	position: relative;
	padding-left: 19px;
	transition: color 0.4s;
}
.menu-topics__link::before {
	content: "+";
	position: absolute;
	top: 0;
	left: 0;
	transition: transform 0.6s;
}
.menu-topics__link:hover{
	color: #DDBEA9;
}
.menu-topics__link:hover::before{
	transform: rotate(-360deg);
}
.body-topics__search {
}
.body-topics__input {
	background: url(../img/icons/search.svg) 0 50% no-repeat;
	padding: 5px 22px;
	font-weight: 500;
	font-size: 12px;
	line-height: 25px;
	color: rgba(73, 80, 87, 0.5);
}

/* ----Right Side---- */

.topics__content {
	flex: 0 0 61.089494%;
	padding-left: 23px;
}
.topics__items {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.topics__items:not(:last-child){
	margin-bottom: 60px;
}
.item-topic {
	align-items: flex-start;
	display: flex;
}
.item-topic__image {
	flex: 0 0 47.438017%; /* 287/605 */
	overflow: hidden;
}
.item-topic__image img {
	max-width: 100%;
	border-radius: 3px;
	transition: transform 0.5s;
}
.item-topic__image:hover img{
	transform: scale(1.05);
}
.item-topic__body {
	flex: 0 0 52.561983%;
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.item-topic__date {
	font-weight: 300;
	line-height: 166.666667%; /* 20/12 */
	color: #6C757D;
}
.item-topic__title {
	font-weight: 500;
	font-size: 16px;
	line-height:  156.25%; /* 25/16 */
	color: #212529;
}
.item-topic__link-title {
	transition: color 0.3s;
}
.item-topic__link-title:hover {
	color: #DDBEA9;
}
.item-topic__text {
	font-weight: 300;
	line-height: 166.666667%; /* 20/12 */
	color: #6C757D;
}
.item-topic__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	font-weight: 300;
	line-height: 166.666667%; /* 20/12 */
	color: #6C757D;
	border-top: 1px solid #E5E5E5;
	padding-top: 15px;
}
.item-topic__author {
	transition: color 0.3s;
}
.item-topic__author:hover {
	color: #212529;
}
.item-topic__like {
	transition: color 0.3s;
	background: url(../img/icons/like.svg) left no-repeat;
	padding-left: 20px;
}
.item-topic__like:hover {
	color: #212529;
}
.item-topic__like {
}
.topics__pages {
}
.pages-topics {
}
.pages-topics__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 15px;
	row-gap: 10px;
}
.pages-topics__item {
}
.pages-topics__link {
	font-weight: 500; 
	line-height: 208.333333%; /* 25/12 */
	color: rgba(73, 80, 87, 0.5);
	position: relative;
	display: inline-block;
	transition: color 0.3s;
}
.pages-topics__link::after {
	content: "";
	bottom: 0;
	left: 50%;
	position: absolute;
	width: 0;
	height: 2px;
	background-repeat: 5px;
	background-color: #DDBEA9;
	border-radius: 2px;
	transition: width 0.3s, left 0.3s;
}
.pages-topics__item:hover .pages-topics__link,
.pages-topics__link.active {
	color: #495057;
}
.pages-topics__item:hover .pages-topics__link::after,
.pages-topics__link.active::after{
	width: 100%;
	left: 0;
}


/*  ----FOOTER---- */
.footer {
	/* min-height: 325px; */
	background-color: #212529;
}
.footer__container {
	
}
.footer__header {
	padding-top: 100px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(229, 229, 229, 0.2);
	padding-bottom: 40px;
	gap: 5px;
}
.footer__logo {
}
.logo-footer {
}
.logo-footer__link {
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color: #F8F9FA;
}
.logo-footer__link::after {
	content: ".";
	top: 0;
	left: 0;
	color: #DDBEA9;
}
.footer__nav {
}
.nav-footer {
	display: flex;
	column-gap: 25px;
}
.nav-footer__link {
	font-weight: 500;
	font-size: 12px;
	line-height: 25px;
	color: rgba(248, 249, 250, 0.5);
	transition: color 0.3s;
}
.nav-footer__link:hover{
	color: #F8F9FA;
}
.footer__social {
}
.social-footer {
	display: flex;
	gap: 25px;
}
.social-footer__link {
	font-weight: 500;
	font-size: 12px;
	line-height: 25px;
	color: rgba(248, 249, 250, 0.5);
	transition: color 0.3s;
}
.social-footer__link:hover{
	color: #F8F9FA;
}

.footer__down {
}
.down-footer {
	padding-top: 40px;
	padding-bottom: 99px;
	display: flex;
	justify-content: space-between;
	transition: color 0.3s;
}
.down-footer__adress{
}
.adress-footer {
}
.adress-footer__link {
	font-weight: 500;
	line-height: 20px;
	color: rgba(248, 249, 250, 0.5);
	transition: color 0.3s;
}
.adress-footer__link:hover {
	color: #F8F9FA;
} 
.down-footer__rigths {
}
.rights-footer {
}
.rights-footer__link {
	font-weight: 500;
	line-height: 20px;
	color: rgba(248, 249, 250, 0.5);
	transition: color 0.3s;
}
.rights-footer__link:hover {
	color: #F8F9FA;
}