@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap");

body {
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	color: #9C9C9C;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.page{
	padding: 20px;
}
.page__container {
}
.page__top {
}
.top:not(:last-child) {
	margin-bottom: 40px;
}
.top__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    position: relative;
    display: flex;
    column-gap: 26px;
}
.top__title::after {
	content: "";
    height: 2px;
    background-color: #000000;
    flex: 0 1 464px;
    align-self: center;
}
.page__content {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}
.page__items {
}
.page__item {
}
.item-page {
	display: flex;
	align-items: center;
}
.item-page__image {
	flex: 0 0 62.166667%; /* 746/1200 */
	overflow: hidden;
}
.item-page__image img {
	max-width: 100%;
	transition: all 0.7s;
}
.item-page__image:hover img {
	transform: scale(1.03); 
}
.item-page__body {
	flex: 0 0 37.833333%;
	padding-left: 120px;
}
.item-page__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.4;
	color: #333333;
	margin-bottom: 20px;
}
.item-page__link-title {
}
.item-page__text {
	line-height: 1.6;
}
