@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap");

body {
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	color: #9C9C9C;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.page{
	padding: 20px;
}
.page__container {
}
.page__top {
}
.top:not(:last-child) {
	margin-bottom: 40px;
}
.top__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    position: relative;
    display: flex;
    column-gap: 26px;
}
.top__title::after {
	content: "";
    height: 2px;
    background-color: #000000;
    flex: 0 1 464px;
    align-self: center;
}
.page__content {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}
.page__items {
}
.page__item {
}
.item-page {
	display: flex;
	align-items: center;
}
.item-page__image {
	flex: 0 0 62.166667%; /* 746/1200 */
	overflow: hidden;
}
.item-page__image img {
	max-width: 100%;
	transition: all 0.7s;
}
.item-page__image:hover img {
	transform: scale(1.03); 
}
.item-page__body {
	flex: 0 0 37.833333%;
	padding-left: 120px;
}
.item-page__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.4;
	color: #333333;
	margin-bottom: 20px;
}
.item-page__link-title {
}
.item-page__text {
	line-height: 1.6;
}

/* Part 2 */
.page__room {
}
.room {
	padding-top: 100px;
}
.room__container {
}
.room__body {
}
.room__header {
}
.header-room {
	text-align: center;
	max-width: 518px;
	margin: 0 auto 53px;
}
.header-room__title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.4;
	color: #000000;
	margin-bottom: 40px;
}
.header-room__link:hover{
	color: goldenrod;
}
.header-room__about {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	text-align: center;
	color: #000000;
}
.room__block {
	margin-bottom: 100px;
}
.block-room {
	overflow: hidden;
}
.block-room__image{
}
.block-room__image img {
	max-width: 100%;
	transition: all 0.3s;
}
.block-room__image:hover img {
	transform: scale(1.02);
}
.room__description {
}
.desc-room {
	display: flex;
	margin-bottom: 82px;
}
.desc-room__overview {
	display: flex;
	flex-direction: column;
}
.overview {
	flex: 0 0 48.666667%; /* 584/1200 */
}
.overview__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.4;
	color: #333333;
	margin-bottom: 24px;
}
.overview__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	color: #9C9C9C;
	margin-bottom: 60px;
}
.overview__block{
	display: flex;
	column-gap: 80px;
}
.overview__data {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	color: #9C9C9C;
}
.overview__about {
	font-size: 18px;
	line-height: 1.6;
	color: #9C9C9C;
}
.desc-room__process {
}
.process {
	display: flex;
	flex-direction: column;
	flex: 0 0 51.333333%;
	padding-left: 32px;
}
.process__block {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.process__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.4;
	color: #333333;
	margin-bottom: 24px;
}
.process__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	color: #9C9C9C;
}
.room__pictures {
	display: flex;
	flex-direction: column;
	gap: 32px;
}


.pictures__double {
	display: flex;
	justify-content: space-between;
	column-gap: 32px;
	overflow: hidden;

}
.double-picture__link{
	transition: all 0.7s;
	overflow: hidden;
}
.double-picture__link img {
	max-width: 100%;
	transition: all 0.7s;
}

.double-picture__link:hover img {
	transform: scale(1.03); 
}
.pictures__second-link{
	transition: all 0.7s;
	overflow: hidden;
}
.pictures__second-link img {
	max-width: 100%;
	transition: all 0.7s;
}

.pictures__second-link:hover img {
	transform: scale(1.03);
}
