@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap");

body {
	/* Значення за замовченням */
	font-family: "Inter", sans-serif;
	color: #637381;
	font-weight: 600;
	font-size: 16px;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.page {
}
.page__categories {
}
.categories {
	padding-top: 20px;
	padding-bottom: 80px;
}
.categories__container {
}
.categories__items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;

}
.categories__item {
}
.item-categories {
	position: relative;
	overflow: hidden;
}
.item-categories:hover .item-categories__image img{	
	transform: scale(1.05);
}
.item-categories--house {
	grid-row: span 2;
}

.item-categories--house .item-categories__block {
	top: 8.163265%; /* 40/490 */
}

.item-categories__block {
	position: absolute;
	top: 17.391304%; /* 40/230 */
	left: 7.017544%; /* 40/570 */
	z-index: 2;
	max-width: 362px;
}
.item-categories__text {
	line-height: 1.5; /* 24/16 */
	color: #637381;
	display: inline-block;
}
.item-categories__text:hover {
	color: black;
}
.item-categories__text:not(:last-child) {
	margin-bottom: 12px;
}

.item-categories__title {
	font-size: 28px;
	line-height: 1.25; /* 35/28 */
	color: #212B36;
	display: inline-block;
}
.item-categories__title:hover {
	color: #6495ed;
}

.item-categories__image {
	position: relative;
	display: block;
	padding-bottom: 40.350877%; /* 230/570 */
	
}

.item-categories__image--house {
	padding-bottom: 85.964912%; /* 490/570 */
}

.item-categories__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s;
}
/* Планшет */
@media (max-width: 991.98px) {
	.categories__items {
		gap: 15px;
	}
	.item-categories__title {
		font-size: 20px;
	}
	.item-categories__block {
		max-width: 250px;
	}
}
@media (max-width: 800px) {
	.categories__items {
		grid-template-columns: repeat(1, 1fr);
	}
	.item-categories__image--house {
		padding-bottom: 40.350877%; /* 230/570 */
	}
	.item-categories--house .item-categories__block {
		top: 17.391304%; /* 40/230 */
	}
}
/* Мобилка */
@media (max-width:767.98px) {
	.item-categories__text {
		font-size: 15px;
	}
	.item-categories__title {
		font-size: 15px;
	}
	.item-categories__text:not(:last-child) {
		margin-bottom: 5px;
	}
}
/* Block Our */
.page__our {
}
.our {
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: #FAFAFA;
}
.our__container {
}
.our__header {
}
.our__header:not(:last-child) {
	margin-bottom: 70px;
} 
.top {
}
.top__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 1.12; /* 45/40 */
	text-align: center;
	text-transform: capitalize;
	color: #212B36;
}
.top__title:not(:last-child) {
	margin-bottom: 15px;
}
.top__text {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5; /* 24/16 */
	text-align: center;
	color: #637381;
	max-width: 490px;
	margin: 0 auto;
}
.our__items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px;
}
.our__items:not(:last-child){
	margin-bottom: 40px;
}
.our__item {
}
.item-our {
	display: flex;
	flex-direction: column;
	gap: 25px;
	background-color: #FFFFFF;
	border: 1px solid #E7E7E7;
	border-radius: 8px;
}
.item-our__image {
	position: relative;
	display: block;
	padding-bottom: 78.804348%; /* 290/368 */
	overflow: hidden;
	border-radius: 7px 7px 0px 0px
}

.item-our__image img:hover {
	transform: scale(1.05);
}

.item-our__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 7px 7px 0px 0px;
	transition: transform 0.3s;
}
.item-our__content {
	padding: 0px 25px;
	flex: 1 1 auto;
}
.item-our__title {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3; /* 26/20 */
	color: #212B36;
	display: inline-block;
}
.item-our__title:not(:last-child) {
	margin-bottom: 15px;
}
.item-our__text {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5; /* 24/16 */
	color: #637381;
}
.item-our__more {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #E7E7E7;
}
.item-our__rainting {
	display: flex;
	align-items: center;
	column-gap: 7px;
	padding-left: 25px;
}
.item-our__star {

}
.item-our__review {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5; /* 24/16 */
	color: #637381;
}
.item-our__price {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5; /* 24/16 */
	color: #212B36;
	border-left: 1px solid #E7E7E7;
	padding: 14px 20px;
}

.our__button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 11px;
	background-color: #FFFFFF;
	border: 0.5px solid #E7E7E7;
	border-radius: 23px;
	max-width: 84px;
	margin: 0 auto;
	padding: 6px 7px 6px 6px;
}
.our__button-left {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #E7E7E7;
	border-radius: 50%;
	padding: 10px 9px;

}
.our__button-left:hover {
	border: 1px solid #3056D3;
}
.our__button-rigth {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	padding: 10px 9px;
	background: #3056D3;
}
.our__button-rigth:hover {
	background: #5672d8;
}

/* MEDIA шрифти та відступи */
@media (max-width: 767.98px) {
	.our {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.our__header:not(:last-child) {
		margin-bottom: 35px;
	}
	.top__title {
		font-size: 35px;
	}

}
/* Trending */

.page__trending {
}
.trending {
	padding-top: 120px;
	padding-bottom: 120px;
}
.trending__container {
}
.trending__header {
}
.trending__header:not(:last-child) {
	margin-bottom: 70px;
}
.trending__items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	border: 1px solid #E7E7E7;
	border-radius: 10px;
}
.trending__item {
}
.item-trending {
	padding: 25px 25px 40px;
	border-right: 1px solid #E7E7E7;
	border: 1px solid #E7E7E7;
	display: flex;
	flex-direction: column;
}
.item-trending:first-child {
	border-radius: 10px 0 0 0;
}
.item-trending:last-child {
	border-radius: 0 0 10px 0;
}

.item-trending__image {
	display: block;
	position: relative;
	padding-bottom: 76.470588%; /* 260/340 */
}
.item-trending__image:not(:last-child) {
	margin-bottom: 25px;
}
.item-trending__image img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.item-trending__content {
	flex: 1 1 auto;
}

.item-trending__price {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3; /* 26/20 */
	color: #212B36;
}
.item-trending__price:not(:last-child) {
	margin-bottom: 10px;
}
.item-trending__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.25; /* 30/24 */
	color: #212B36;
	display: inline-block;
}
.item-trending__title:not(:last-child){
	margin-bottom: 10px;
}
.item-trending__about {
	display: flex;
	align-items: center;
	gap: 10px;
}
.item-trending__star {
}
.item-trending__reviews {
}

@media (max-width:767.98px) {
	.trending {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.trending__header:not(:last-child) {
		margin-bottom: 30px;
	}
}