@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:300,500,600,700&display=swap);
/* Додати в кінці шрифтів - &display=swap */

body {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 14px;
    font-weight: 300;
}

[class*="container"] {
    max-width: 1240px;
    margin: 0 auto;
}

.header {
    background: url(../img/bgd.jpg) center / cover no-repeat;
    min-height: 600px;
    margin-bottom: 30px;
    padding: 15px;
}

.header-block-text {
    width: 583px;
    padding-top: 330px;
}

.date {
    font-size: 12px;
    line-height: 1.67;
    color: #E5E5E5;
    margin-bottom: 15px;

}
.title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    color: #F8F9FA;
    margin-bottom: 15px;
}
.text {
    font-size: 12px;
    line-height: 1;
    color: #E5E5E5;
}


/* Part 2 */

.main__container-second {
    padding: 15px;
}

.main__container-second ul {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: #637381;
    padding: 15px;
}

.main-title {
    padding-top: 20px;
    margin-bottom: 45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.08;
    color: #212B36;
}


.list li {
    background-image: url(../img/icon/Ellipse.svg);
    background-repeat: no-repeat;
    background-position-y: 4px;    
    padding-left: 18px;
    margin-bottom: 15px;

}

.list-check li {
    background: url(../img/icon/checkmark-circle.svg) 0 2px / 20px no-repeat;
    padding-left: 30px;
    margin-bottom: 15px;
    min-height: 24px;
    padding-top: 4px;

}

.list-check-green li {
    background: url(../img/icon/checkmark-circle-green.svg) 0 2px / 20px no-repeat;
    padding-left: 30px;
    margin-bottom: 15px;
    min-height: 24px;
    padding-top: 4px;
}

.list-cancell li {
    background: url(../img/icon/cancell.svg) 0 2px / 20px no-repeat;
    padding-left: 30px;
    margin-bottom: 15px;
    min-height: 24px;
    padding-top: 4px;
}

.list-arrow li {
    background: url(../img/icon/arrow.svg) 0 4px / 20px no-repeat;
    padding-left: 30px;
    margin-bottom: 15px;
    min-height: 24px;

}

.list-star li {
    background: url(../img/icon/star.svg) 0 0 / 20px no-repeat;
    padding-left: 28px;
    margin-bottom: 15px;
    min-height: 24px;
    padding-top: 4px;
}

/* Part 3 */
.speaker {
    background: url(../img/speaker.png) 80% no-repeat,
    linear-gradient(310deg, rgba(48,86,211,0) 0%, rgba(48,86,211,0.08) 40%, rgba(0,0,0,0) 0%),
    linear-gradient(310deg, rgba(0,0,0,0) 0%, rgba(48,86,211,0.08) 35%, rgba(0,0,0,0) 19%) #F4F7FF;;
    min-height: 560px;
    font-family: "Inter", sans-serif;
    padding: 15px;
    margin-bottom: 15px;
}

.speaker-block-text {
    width: 570px;
}

.speaker-text-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: #3056D3;
    padding-top: 145px;
    margin-bottom: 13px;
}

.speaker-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    color: #212B36;
    margin-bottom: 15px;
}

.speaker-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #637381;
    margin-bottom: 35px;
    }

.speaker-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    width: 139px;
    height: 44px; 
    background-color: #3056D3;
    border-radius: 30px;
    padding: 10px 30px;

}

/* Practic */

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.practic-position {
    background-image: url(../img/image.jpg);
    background-color: #d6e1ff;
    background-repeat: no-repeat;
    background-position: 25% 15%;
    margin-bottom: 15px;
    padding: 15px;
}

.practic-position-second {
    background-image: url(../img/image.jpg);
    background-color: #d6e1ff;
    background-repeat: no-repeat;
    background-position: 80% 50%;
    margin-bottom: 15px;
    padding: 15px;
}

.practic-gradient {
    background-image: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);;
    padding: 15px;
    margin-bottom: 15px;
}

.practic-repeat-patern {
    color: #d6e1ff;
    background-image: url(../img/repeat.jpg);
    background-repeat: repeat;
    padding: 15px;
    margin-bottom: 15px;
}

.practic-attachment {
    background-image: url(../img/image.jpg);
    background-color: #d6e1ff;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 15px;
    padding: 15px;
}

.practic-contain {
    background-image: url(../img/01.png);
    background-color: #d6e1ff;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    padding: 15px;
    margin-bottom: 15px;
}

.practic-cover {
    background-image: url(../img/01.png);
    background-color: #d6e1ff;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    padding: 15px;
    margin-bottom: 15px;
}

.practic-background {
    /* колір зображення позиція / повтор закріплення  */
    background: #d6e1ff url(../img/image.jpg) center no-repeat scroll;
    padding: 15px;
    margin-bottom: 15px;
}

.practic-bgd-two {
    background:
    url(../img/image.jpg) 0 0 no-repeat,
    url(../img/01.png) center / cover no-repeat ;
    padding: 15px;
    margin-bottom: 15px;
}

.practic-list li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;
    background: url(../img/icon/check.svg) 0 0 / 20px  no-repeat;
    min-height: 20px;
    padding-left: 25px;
    padding-top: 3px;
    margin-bottom: 15px;
}

[class*="wrapper"] {
    max-width: 800px;
    padding: 0 15px;
    margin: 0 auto;
}

.about {
    background-color: #f75e05;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
}

.contacts {
    background-color: #3056D3;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
}



